$mobile_breakpoint: 800px;

#mobile-menu-trigger {
	&:before {
		content: "menu";
		overflow: hidden;
	}

	&:checked:before,
	&[aria-expanded="true"]:before {
		content: "close";
		overflow: hidden;
	}

}

.header__profile dl:before {
	content: "user";
}

.header__loyalty dl:before {
	content: "loyalty";
}

.header__balance dl:before {
	content: "multicurrency";
}

.account__nav- {

	&dashboard:before {
		content: "\e932";
	}

	&deposit:before {
		content: "\e941";
	}

	&button:before {
		content: "\e941";
	}

	&withdraw:before {
		content: "\e946";
	}

	&prepaid-card:before {
		content: "\e93c";
	}

	&promotions:before {
		content: "\e959";
	}

	&transactions:before {
		content: "\e962";
	}

	&exchange:before {
		content: "\e939";
	}

	&statement:before {
		content: "\e93c";
	}

	&settings:before {
		content: "\e961";
	}

	&faq:before {
		content: "\e95a";
	}

	&help:before {
		content: "\e95a";
	}

	&contact:before {
		content: "\e92b";
	}

}