.account {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	// font-family: "Source Sans Pro";
	color: rgb(0 0 0 / 64%);
	margin: 0;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	grid-template: auto 1fr auto / auto 1fr;

	.skip-link {
		position: absolute;
		background: white;
		white-space: nowrap;
		z-index: -9;
		opacity: 0;

		&:focus-visible {
			z-index: 9;
			opacity: 1;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	@media (prefers-reduced-motion: no-preference) {
		--transition-duration: .2s;
	}

	sidebar {
		font-size: .875rem;
		grid-row: 1/-1;
		background-color: #0000000a;
		// max-height: 100vh;
		// max-height: 100dvh;
		// overflow: auto;

		ul {
			list-style-type: none;
			padding: 0;
		}

		> div {
			position: sticky;
			top: 0;
			display: flex;
			flex-direction: column;
		}

		#expand-desktop-menu {
			-webkit-appearance: none;
			appearance: none;
			margin: 0;
			height: 3rem;
			// background: red;
			display: flex;
			justify-content: center;
			align-items: center;

			&:before {
				cursor: pointer;
				content: "≪";
				width: 2.5rem;
				height: 2.5rem;
				// background: green;
				display: block;
				color: inherit;
				border-radius: 50%;
				text-align: center;
				transition: var(--transition-duration, 0) ease-in-out;
				transition-property: background-color, transform;
				line-height: 3;
			}

			&:hover:before {
				background-color: #0000000a;
			}

			&:not(:checked):before {
				transform: rotateZ(180deg);
			}

		}

		@media not screen and (min-width: 600px) {
			#expand-desktop-menu {
				display: none;
			}

			#mobile-menu-trigger:not(:checked) ~ nav {

				display: none;

			}
		}

		@media (min-width: 600px) {
			#mobile-menu-trigger {
				display: none;
			}

			#expand-desktop-menu:checked ~ nav {
				max-width: 15rem;

				a {
					color: rgb(0 0 0 / 64%);

					&:before {
						margin-inline-end: 1em;
					}
				}

				[aria-current] a {
					color: rgba(112, 33, 94, 1)
				}


			}

			nav {
				max-width: 4rem;
			}
		}

		nav {
			overflow: hidden;
			transition: max-width var(--transition-duration, 0) ease-in-out;
			font-weight: 600;

			li {
				display: flex;
				align-items: center;
				transition: background-color var(--transition-duration, 0) ease-in-out;

				&:before {
					content: "";
					width: 0.375em;
					background: transparent;
					border-radius: .125rem;
					margin-inline-start: -0.125em;
					flex-shrink: 0;
					height: 3rem;
				}

				&[aria-current] {
					line-height: 1.5rem;

					&:before,
					a:before {
						background-color: #70215e;
					}
				}

				&:hover,
				&[aria-current] {
					background-color: #0000000a;
				}
			}

			a {
				display: flex;
				line-height: 1.5;
				padding: 1rem 0;
				text-transform: uppercase;
				color: inherit;
				padding-inline-end: 1.5em;
				min-width: 14rem;
				transition: color var(--transition-duration, 0) ease-in-out;

				color: rgba(0, 0, 0, 0);

			}

			[aria-current] a {
				color: rgba(112, 33, 94, 0)
			}


		}
	}

	sidebar nav a:before,
	header dl:before {
		content: "";
		width: 1.5em;
		height: 1.5em;
		flex-shrink: 0;
		margin: 0 1em 0 1em;
		background-color: #000000a3;
		-webkit-mask: url(favicon.svg) center no-repeat;
		-webkit-mask-size: contain;
		mask: url(favicon.svg) center no-repeat;
		mask-size: contain;
		margin-inline-end: 2em;
		transition: margin-inline-end var(--transition-duration, 0) ease-in-out;

	}

	header {
		display: flex;
		position: sticky;
		top: 0;
		background: white;
		align-items: center;
		gap: 1rem;
		padding: 0 1rem;
		overflow: auto;

		&:before {
			content: "";
			flex-grow: 1;
		}

		button {
			height: 2.5rem;
		}

		dl {
			display: flex;
			margin: 0;

			display: grid;
			align-items: center;
			padding: 0.75rem 0.5rem;
			transition: var(--transition-duration, 0) ease-in-out;
			transition-property: background-color;

			&:before {
				content: "";
				grid-row: 1/3;
				margin-inline-end: 1rem;
				margin-inline-start: 0;
				transition: var(--transition-duration, 0) ease-in-out;
				transition-property: margin-block-start;
				// margin: 0.5rem 1rem;
				// width: 1.375rem;
				// height: 1.375rem;
				// background: url("favicon.svg") no-repeat;
				// display: inline-block;
				// background-size: contain;
			}

			&:hover {
				background-color: #0000000a;

				&:before {
					margin-block-start: -0.25rem;
				}
			}
		}

		dt {
			font-size: .875rem;
			align-self: end;
			color: #000000a3;
		}

		dd {
			font-weight: 600;
			grid-column: 2/3;
			margin: 0;
			color: #000000e0;
		}

	}

	h1 {
		margin-top: 2.333rem;
	}

	main {
		width: 100%;
		justify-self: center;
		max-width: 45rem;
		padding: 1rem;
		box-sizing: border-box;
	}

	footer {
		padding: 1rem;
		font-size: .875rem;

		nav {
			overflow: hidden;
		}

		ul {
			padding: 1rem;
			margin: 0;
			line-height: 1.5;
			margin-inline-start: -1ch;
			padding: 0;
		}

		li {
			display: inline-block;

			&:before {
				content: "|";
				width: 1ch;
				display: inline-block;
				margin-inline-start: 0.25ch;
			}
		}

		a {
			display: inline-block;
			line-height: 1.5rem;
			margin: 0.33rem 0;
		}
	}

	.btn {
		-webkit-appearance: none;
		appearance: none;
		border: none;
		background: none;
		font: inherit;
		cursor: pointer;
		color: #872166;
		border: 2px solid #872166;
		border-radius: 0.5rem;
		font-size: .875rem;
		font-weight: 600;
		padding: 0 0.9375rem;
		min-width: 7.5rem;
		outline-offset: .25rem;

		&:hover {
			background-color: #f5c9e8;
			border-color: #70215e;
			color: #70215e;
		}
	}

}

@import "fonts";