$mobile_breakpoint: 800px;
@import "fonts";

.account {

	--accent-color: #70215e;
	--accent-color: #253b80;

	line-height: 1.5;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-family: "Source Sans Pro";
	color: rgb(0 0 0 / 64%);
	margin: 0;
	min-height: 100vh;
	min-height: 100svh;
	display: grid;
	grid-template: auto 1fr auto / auto 1fr;
	-webkit-text-size-adjust: none; // Landscape iPhone text size

	@media (prefers-reduced-motion: no-preference) {
		--transition-duration: .2s;
	}

	.skip-link {
		margin: .25rem;
		position: fixed;
		background: white;
		white-space: nowrap;
		z-index: -9;
		opacity: 0;
		padding: 0.5rem 0.75rem;

		&:focus-visible {
			z-index: 9;
			opacity: 1;
		}
	}

	a,
	aside nav li button {
		text-decoration: none;

		&[href] {
			font-weight: 500;
		}
	}

	a,
	aside nav li button {
		color: rgb(0 0 0 / 64%);
	}

	aside {
		font-size: .875rem;
		grid-row: 1/-1;
		background-color: #0000000a;
		overflow: auto;
		max-height: 100vh;
		max-height: 100dvh;
		top: 0;
		position: sticky;
		padding-top: 1rem;

		.logo {
			text-align: center;
			display: block;
			overflow: hidden;
			height: 3rem;
			background: url(PayPal-2.svg) no-repeat .25rem center;
			margin: 0 .8rem;

			// top: 0;
			// position: sticky;
			img {
				height: 3rem;
			}
		}

		ul {
			list-style-type: none;
			padding: 0;
		}

		input[type="checkbox"] {
			-webkit-appearance: none;
			appearance: none;
			-webkit-tap-highlight-color: transparent;
			margin: 0;
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(100% - 0.5rem);
			margin: 0 0.25rem;
			// top: 3.333rem;
			// position: sticky;

			&:before {
				cursor: pointer;
				content: "≪";
				width: 2.5rem;
				height: 2.5rem;
				display: block;
				color: inherit;
				border-radius: 50%;
				text-align: center;
				line-height: 3;
				font-family: "Icons";
				font-weight: 400;
				font-size: 1.5rem;
				content: "\e93a";
				line-height: 1.7;
				color: rgb(0 0 0 / 64%);
				-webkit-font-smoothing: antialiased;

			}

			&:hover:before,
			&:focus-visible:before {
				background-color: #0000000a;
			}

		}

		#expand-desktop-menu {
			transition: var(--transition-duration, 0) ease-in-out;
			transition-property: background-color, transform;
			transform: none;

			&:checked:before {
				transform: rotateZ(-180deg);
			}

		}

		#mobile-menu-trigger {
			align-self: center;
			grid-row: 1;
			grid-column: 1;
			margin-inline-start: 0.56rem;

			&:before {
				content: "menu";
			}

			&:checked:before {
				content: "close";
			}
		}

		@media not screen and (min-width: $mobile_breakpoint) {
			#expand-desktop-menu {
				display: none;
			}

			#mobile-menu-trigger:not(:checked) ~ nav {
				// visibility: hidden;
				// max-width: 0;
				// margin-inline-start: -100%;
				clip-path: inset(0 100% 0 0);
				visibility: hidden;

				li button,
				li a {
					// color: rgba(0, 0, 0, 0); // Replace by another property
				}

			}

			nav {

				a,
				button {

					&:after {
						content: "";
						position: absolute;
						inset: 0;
						inset-inline-start: 3rem;
						background-color: #F4F5F6;
						opacity: 1;
						transition: opacity var(--transition-duration, 0) ease-out;
					}
				}

				[aria-current] {

					a,
					button {
						&:after {
							background-color: #EAEBEC;
						}
					}
				}

				li {

					a,
					button {
						&:before {
							margin-inline-end: 3rem;

						}
					}
				}
			}

			#mobile-menu-trigger:checked ~ nav {

				a,
				button {

					&:before {
						margin-inline-end: 3rem;
						padding-inline-end: 0;
					}

					&:after {
						opacity: 0;
					}
				}
			}

			a,
			button {
				&:before {
					padding-inline-end: .5rem;
					transition: padding-inline-end var(--transition-duration, 0) ease-out;
				}
			}

		}

		#expand-desktop-menu:checked ~ nav {

			a,
			button {
				&:before {
					margin-inline-end: 3rem;
					background: none;
				}
			}
		}

		@media (min-width: $mobile_breakpoint) {
			#expand-desktop-menu:not(:checked) ~ nav li button {
				color: rgba(0, 0, 0, 0);
			}

			.logo {
				transition: background-position-x calc(var(--transition-duration, 0) / 2) ease-out;
			}

			&:has(#expand-desktop-menu:checked) {
				.logo {
					background-position-x: center;
					transition-delay: calc(var(--transition-duration, 0) / 2);
				}
			}

			#mobile-menu-trigger,
			input[type="reset"] {
				display: none;
			}

			#expand-desktop-menu:checked ~ nav {
				max-width: 14rem;

			}

			#expand-desktop-menu:checked ~ nav {

				a,
				button {
					color: rgb(0 0 0 / 64%);

				}

				[aria-current] {

					a,
					button {
						color: var(--accent-color, #333);
					}
				}

			}

			nav {
				max-width: 4rem;

				a,
				button {
					color: rgba(0, 0, 0, 0);

					&:before {
						color: initial;
						margin-inline-end: 3rem;
					}
				}

				[aria-current] {

					a,
					button {
						color: rgba(0, 0, 0, 0);

						&:before {
							color: var(--accent-color, #333);
						}
					}
				}


			}
		}

		nav {
			overflow: hidden;
			transition: max-width var(--transition-duration, 0) ease-in-out;
			font-weight: 600;

			li {
				display: flex;
				align-items: center;
				transition: background-color var(--transition-duration, 0) ease-in-out;

				&:before {
					content: "";
					width: 0.375em;
					background: transparent;
					border-radius: .125rem;
					margin-inline-start: -0.125em;
					flex-shrink: 0;
					height: 3rem;
				}

				&[aria-current] {
					line-height: 1.5rem;

					&:before {
						background-color: var(--accent-color, #333);
					}
				}

				&:hover,
				&[aria-current] {
					background-color: #EAEBEC;
				}
			}

			a,
			button {
				position: relative;
				display: flex;
				width: 100%;
				line-height: 1.5;
				text-transform: uppercase;
				cursor: pointer;
				font: inherit;
				-webkit-appearance: none;
				appearance: none;
				border: none;
				background: none;
				box-sizing: content-box;

				padding: 0;
				// padding-inline-end: 1.5em;
				min-width: 13.25rem;
				transition: color var(--transition-duration, 0) ease-in-out;
				min-height: 3.5rem;
				align-items: center;
				text-align: start;

				&,
				&[href] {
					font-weight: 600;
					width: calc(100% - 2rem);
					outline-offset: -2px;
				}

			}

		}

		input[type="checkbox"]:checked ~ nav [aria-current] button {
			color: var(--accent-color, #333);
		}

		#nav-reset-form {
			display: none;
		}

	}

	aside nav a:before,
	aside nav button:before,
	header dl:before {
		font-family: "Icons";
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		content: "\e932";
		width: 1.5em;
		height: 1.5em;
		flex-shrink: 0;
		margin: 0 1rem;
		font-size: 1.5rem;
		line-height: 1.5;
		width: 0;
		color: #000000a3;
		// background-color: #000000a3;
		// -webkit-mask: url(favicon.svg) center no-repeat;
		// -webkit-mask-size: contain;
		// mask: url(favicon.svg) center no-repeat;
		// mask-size: contain;
		margin-inline-end: 3.5rem;

		@media (min-width: $mobile_breakpoint) {
			transition: margin-inline-end var(--transition-duration, 0) ease-in-out;
		}
	}

	aside nav {

		.account__nav-deposit {

			a,
			button {
				&:before {
					content: "\e941";
				}
			}
		}

		.account__nav-button {

			a,
			button {
				&:before {
					content: "\e941";
				}
			}
		}

		.account__nav-withdraw {

			a,
			button {
				&:before {
					content: "\e946";
				}
			}
		}

		.account__nav-prepaid-card {

			a,
			button {
				&:before {
					content: "\e93c";
				}
			}
		}

		.account__nav-promotions {

			a,
			button {
				&:before {
					content: "\e959";
				}
			}
		}

		.account__nav-transactions {

			a,
			button {
				&:before {
					content: "\e962";
				}
			}
		}

		.account__nav-exchange {

			a,
			button {
				&:before {
					content: "\e939";
				}
			}
		}

		.account__nav-statement {

			a,
			button {
				&:before {
					content: "\e93c";
				}
			}
		}

		.account__nav-settings {

			a,
			button {
				&:before {
					content: "\e961";
				}
			}
		}

		.account__nav-faq {

			a,
			button {
				&:before {
					content: "\e95a";
				}
			}
		}

		.account__nav-help {

			a,
			button {
				&:before {
					content: "\e95a";
				}
			}
		}

		.account__nav-contact {

			a,
			button {
				&:before {
					content: "\e92b";
				}
			}
		}

	}


	header {
		display: flex;
		// position: sticky;
		// top: 0;
		background: white;
		align-items: center;
		gap: 1rem;
		padding: 0.25rem 1rem;
		overflow: auto;

		&:before {
			content: "";
			flex-grow: 1;
		}

		button {
			height: 2.5rem;
		}

		dl {
			margin: 0;
			display: grid;
			grid-template: 1fr 1fr / auto;
			line-height: 1.25;
			row-gap: 0.25rem;
			align-items: center;
			padding: 0.5rem 0.5rem;
			transition: var(--transition-duration, 0) ease-in-out;
			transition-property: background-color;

			&:before {
				content: "user";
				grid-row: 1/3;
				margin-inline-end: 2.5rem;
				margin-inline-start: .5rem;
				transition: var(--transition-duration, 0) ease-in-out;
				transition-property: margin-block-start;
				// color: #000000a3;
				color: #000000e0;
				text-align: center;
			}

			&:hover {

				&:before {
					margin-block-start: -0.25rem;
				}
			}
		}

		.header__loyalty dl:before {
			content: "loyalty";
		}

		.header__balance dl:before {
			content: "multicurrency";
		}

		a[href] dl:hover {
			background-color: #0000000a;

		}

		dt {
			font-size: .875rem;
			align-self: end;
			color: #000000a3;
		}

		dd {
			font-weight: 600;
			grid-column: 2/3;
			align-self: normal;
			margin: 0;
			color: #000000e0;
		}

	}

	@media (min-width: $mobile_breakpoint) {
		h1 {
			margin-top: 2.333rem;
		}
	}

	main {
		width: 100%;
		justify-self: center;
		max-width: 45rem;
		padding: 1rem;
		box-sizing: border-box;
		color: #000000e0;
	}

	footer {
		padding: 1rem;
		padding-bottom: 0;
		margin-top: 1.5rem;
		font-size: .75rem;

		nav {
			overflow: hidden;

			a {
				text-transform: uppercase;
				display: inline-block;
				line-height: 1.5rem;
				margin: 0.33rem 0;
			}
		}

		ul {
			padding: 1rem;
			margin: 0;
			line-height: 1.5;
			margin-inline-start: -1rem;
			padding: 0;
		}

		li {
			display: inline-flex;
			align-items: center;

			&:before {
				content: "\a";
				display: inline-block;
				width: 0.25rem;
				height: 0.25rem;
				border-radius: 50%;
				background: var(--accent-color, #333);
				margin: 0 0.25rem;
				margin-inline-end: 0.5rem;
				vertical-align: middle;
			}
		}

		p {
			margin: 1.5rem 0;
		}

	}

	.btn {
		-webkit-tap-highlight-color: transparent;
		-webkit-appearance: none;
		appearance: none;
		user-select: none;
		border: none;
		background-color: transparent;
		font: inherit;
		cursor: pointer;
		color: var(--accent-color, #333);
		border: 2px solid var(--accent-color, #333);
		border-radius: 0.5rem;
		font-size: .875rem;
		font-weight: 600;
		padding: 0 0.9375rem;
		min-width: 7.5rem;
		outline-offset: .25rem;

		&:hover,
		&:active {
			background-color: #f5c9e8;
			border-color: var(--accent-color, #333);
			color: var(--accent-color, #333);
		}
	}

	.btn,
	aside nav li {

		background: radial-gradient(circle, rgb(0 0 0 / 5%) 70%, rgba(0, 0, 0, 0) 0) no-repeat var(--ripple-x) var(--ripple-y) / 0 0;
		transition: all .15s ease-out;

		&:active {
			background-position: calc(var(--ripple-x) - var(--ripple-radius)) calc(var(--ripple-y) - var(--ripple-radius));
			background-size: calc(2 * var(--ripple-radius)) calc(2 * var(--ripple-radius));
		}

	}

	aside input[type="checkbox"] {

		&:before {

			background: radial-gradient(circle, rgb(0 0 0 / 5%) 70%, rgba(0, 0, 0, 0) 0) no-repeat center / 0 0;
			transition: background-size .15s ease-out;

		}

		&:active:before {
			background-size: 100% 100%;
		}

	}

}

@media not screen and (min-width: $mobile_breakpoint) {
	.account {

		grid-template-columns: 3.5rem auto 1fr;

		aside {
			display: contents;

			.logo {
				width: 8rem;
				grid-row: 1;
				grid-column: 2;
				align-self: center;
			}

			&:has(#expand-desktop-menu:checked) {
				.logo {
					background-position-x: center;
				}

			}

			nav {
				grid-column: 1/3;
				grid-row: 2/-1;
				z-index: 0;
				background-color: #F4F5F6;
				max-width: 14rem;
				box-shadow: 0 0.25rem 1.25rem #0000003d;
				clip-path: inset(0px -1.5rem 0 0);
				transition: var(--transition-duration, 0) ease-in-out;
				transition-property: clip-path, visibility;
				visibility: visible;

				[aria-current] {

					a,
					a:before {
						color: var(--accent-color, #333);
					}
				}

			}

			ul {
				margin: 0;
			}

			#mobile-menu-trigger:not(:checked) ~ input[type="reset"] {
				// display: none;
				visibility: hidden;
				background: transparent;
			}

			input[type="reset"] {
				grid-column: 1/-1;
				grid-row: 2/-1;
				background: rgba(0, 0, 0, .5);
				z-index: 0;
				padding: 0;
				appearance: none;
				-webkit-appearance: none;
				border: none;
				font-size: 0;
				transition: var(--transition-duration, 0) ease-in-out;
				transition-property: background-color, visibility;
			}
		}

		header {
			gap: 0;
			padding: 0.25rem;

			a dl {
				&:before {
					margin-inline-end: 0;
					width: 2.5rem;
					margin: 0;
				}

				> * {
					display: none;
				}
			}

			div > dl {
				display: block;

				&:before,
				dt {
					display: none;
				}
			}

			&:before {
				display: none;
			}

			> div {
				order: -1;

				dd {
					white-space: nowrap;
				}
			}

			.btn {
				display: none;
			}

			.header__balance {
				flex-grow: 1;
				text-align: center;
			}

		}

		main,
		footer {
			grid-column: 1/-1;
		}

		main {
			grid-row: -3/-2;
		}

		footer {
			// grid-row: -2/-1;
			display: none;
		}
	}
}

[dir="rtl"] {
	.account aside #expand-desktop-menu:before {
		transform: rotateZ(-180deg);
	}

	.account aside #expand-desktop-menu:checked:before {
		transform: none;
	}
}